<div class="container">
    <div class="well">
        <form class="form-inline" name="newTeamForm">
            <div class="form-group">
                <label class="sr-only" for="newTeamName">Team Name</label>
                <input type="text" class="form-control" id="newTeamName" placeholder="Team Name" ng-model="vm.newTeam.name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="newTeamLocation">Location</label>
                <input
                        type="text"
                        class="form-control"
                        id="newTeamLocation"
                        placeholder="Location"
                        ng-model="vm.newTeam.location">
            </div>

            <button type="submit" class="btn btn-default" ng-click="vm.addTeam()">Add</button>
        </form>
    </div>
    <div ng-if="vm.teams().length">
        <div class="page-header">
            <h3>Added Teams</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" >
                <thead>
                <th>Team No</th><th>Name</th><th>Location</th>
                </thead>
                <tr ng-repeat="team in vm.teams()">
                    <td>{{$index+1}}</td>
                    <td>{{team.name}}</td>
                    <td>{{team.location}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>